/*
 * The default (light) style.
 */

 body {
	color: #003cc8;
	background-color: white;
}
.inverted {
	color: white;
	background-color: #003cc8;
}

a {
	color: #003cc8;
}
a:visited {
	color: #0034ac;
}
a:active {
	color: #004fd7;
}

.inverted a {
	color: white;
}

* {
	box-sizing: border-box;
}

.onecolumn {
	float: left;
	width: 45%;
	padding: 5%;
}
